@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Red Hat Text", sans-serif;
}

.item-side-enter {
  translate: 100vw 0;
  scale: 110% 1;
}
.item-side-enter-active {
  translate: 0 0;
  scale: 100% 1;
  transition: all 500ms ease-in;
}
.item-side-exit {
  translate: 0 0;
  scale: 100% 1;
}
.item-side-exit-active {
  translate: 100vw 0;
  scale: 110% 1;
  transition: all 500ms ease-in;
}
